@import './base.css';
@import url(https://fonts.bunny.net/css?family=quicksand:300,400,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply transition-all duration-300 ease-in-out;
  }
}

    @keyframes slideIn {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }

      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .slide-in {
      animation: slideIn 2s forwards;
    }

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.soft-background {
  background-color: var(--vt-c-white-soft);
}

.primary-background {
  background-color: var(--vt-c-primary);
}

.secondary-background {
  background-color: var(--vt-c-secondary);
}

.tertiary-background {
  background-color: var(--vt-c-tertiary);
}

.quaternary-background {
  background-color: var(--vt-c-quaternary);
}

.text-primary {
  color: var(--vt-c-primary);
}

.text-secondary {
  color: var(--vt-c-secondary);
}

.text-tertiary {
  color: var(--vt-c-tertiary);
}

.text-quaternary {
  color: var(--vt-c-quaternary);
}

@media (min-width: 1280px) {
  body,
  p {
    font-size: 1.25rem; /* 20px */
  }
  h1 {
    font-size: 2.625rem; /* 42px */
  }
  h2 {
    font-size: 2.25rem; /* 36px */
  }
  h3 {
    font-size: 2rem; /* 32px */
  }
  button,
  a {
    font-size: 1.25rem; /* 20px */
  }
  .small-text {
    font-size: 1.125rem; /* 18px */
  }
}

@media (min-width: 1024px) {
  body,
  p {
    font-size: 1.125rem; /* 18px */
  }
  h1 {
    font-size: 2.25rem; /* 36px */
  }
  h2 {
    font-size: 2rem; /* 32px */
  }
  h3 {
    font-size: 1.75rem; /* 28px */
  }
  button,
  a {
    font-size: 1.125rem; /* 18px */
  }
  .small-text {
    font-size: 1rem; /* 16px */
  }
}

@media (min-width: 768px) {
  body,
  p {
    font-size: 1rem; /* 16px */
  }
  h1 {
    font-size: 2rem; /* 32px */
  }
  h2 {
    font-size: 1.75rem; /* 28px */
  }
  h3 {
    font-size: 1.5rem; /* 24px */
  }
  button,
  a {
    font-size: 1rem; /* 16px */
  }
  .small-text {
    font-size: 0.875rem; /* 14px */
  }
}

@media (min-width: 640px) {
  body,
  p {
    font-size: 0.875rem; /* 14px */
  }
  h1 {
    font-size: 1.75rem; /* 28px */
  }
  h2 {
    font-size: 1.5rem; /* 24px */
  }
  h3 {
    font-size: 1.25rem; /* 20px */
  }
  button,
  a {
    font-size: 0.875rem; /* 14px */
  }
  .small-text {
    font-size: 0.75rem; /* 12px */
  }
}

@media (max-width: 480px) {
  body,
  p {
    font-size: 0.75rem; /* 12px */
  }
  h1 {
    font-size: 1.5rem; /* 24px */
  }
  h2 {
    font-size: 1.25rem; /* 20px */
  }
  h3 {
    font-size: 1rem; /* 16px */
  }
  button,
  a {
    font-size: 0.75rem; /* 12px */
  }
  .small-text {
    font-size: 0.625rem; /* 10px */
  }
}
